.demo {
    width: 800px;
    height: 300px;
    display: block;
}
.redBorder {
    border:1px solid red;
}
#navbar > ul > li.active > a{
    height: 60px;
    background-color: #5a5a5a;
}
.container:nth-of-type(1):after, .navbar-collapse:after, .navbar:after {
   clear: none; 
}
